bin
build

mas.log

examples/performance/case1/profiling*
examples/writePaper/wp-gen.npl
examples/test/groupwithoutrole.npl

.stop___MAS
.gradle
.settings
.classpath
.project

*~
*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
