bin
build

mas.log

src/examples/performance/case1/profiling*
src/examples/writePaper/wp-gen.npl

.stop___MAS
.gradle
.settings

*~
*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

src/examples/test/groupwithoutrole.npl
src/examples/test/groupwithoutrole.npl
