/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-shape: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

a  { 
   text-decoration: none;
}

/* Page background color */
body { background-color: white;
       font-family: verdana, arial, helvetica, sanserif;  }
/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


H0 { 
   color: black;      
   font-size: 170%; 
   text-align: center; 
   display: block;
   border-top: 1px solid black;
   border-bottom: 1px solid black;

   /*margin-left: -1em;*/
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 10px; 
   padding-right: 10px; 
} 

H1 { 
   color: darkblue; 
   font-size: 130%; 
   display: block;
   text-align: left; 

   padding-top: 10px;
   padding-bottom: 0px;
   /*padding-left: 10px; */
   padding-right: 10px; 
   /*margin-left: -1em;*/
   border-bottom: 1px solid black;
} 

H2 { 
   color: darkblue; 
   font-size: 110%; 
   display: block;
   text-align: left; 

   padding-top: 5px;
   padding-bottom: 0px;
   /*padding-left: 10px; */
   padding-right: 10px; 
   /*margin-left: -1em;*/
} 

HR { width: 100%; height: 1px;}

PRE
{
    padding: 1em;
    white-space: pre;
    background-color: #F8F8F8;
    border: 1px solid black;
    font-family: Courier, fixed, serif;
}
